{% extends "header.html" %}

{% block body %}

  {{ js_resources|indent(4)|safe }}

  {{ css_resources|indent(4)|safe }}

  {{ plot_script|indent(4)|safe }}

  <p> Select your settings: </p>

  <form name="color_button" method='GET'>
    Sensor Type:
    <select name="parameter">
      {% for item in keys %}
        <option {{ "selected" if item|indent(4)|safe == parameter }} value="{{ item }}">{{ item }}</option>
      {% endfor %}
    </select>
    <br><br>
    
    Color:
    <select name="color">
      <option {{ "selected" if color|indent(4)|safe == "Red" }} value="Red">Red</option>
      <option {{ "selected" if color|indent(4)|safe == "Green" }} value="Green">Green</option>
      <option {{ "selected" if color|indent(4)|safe == "Blue" }} value="Blue">Blue</option>
      <option {{ "selected" if color|indent(4)|safe == "Black" }} value="Black">Black</option>
    </select>
    <br><br>
    
    From:
    
    <input type="datetime" name="_from" value="{{ _from }}">
    &nbsp &nbsp &nbsp
    
    To:
    
    <input type="datetime" name="to" value="{{ to }}">
    &nbsp &nbsp &nbsp
    <input class="btn btn-default" type="submit" value="Submit">
    <br><br>
  </form>
  {{ plot_div|indent(4)|safe }}

{% endblock %}
